.App {
  display: flex;

  height: 100vh;
  flex-direction: column;

}
body{
  margin: 0 auto;
  padding: 0;
}

 .inputs {
   height: 400px;
   width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blanchedalmond;

 }

 .inputs input{
   width: 200px;
   height: 50px;
   font-size: 25px;
   margin: 10px;
   padding-left: 10px;
   box-shadow: 2px 2px 2px;
 }

 .inputs button {
   border: none;
   width: 150px;
   height: 50px;
   background-color: rgb(243, 188, 105);
   color: white;
   border-radius: 10px;
   font-size: 15px;

  

 }

 button:hover {
   background-color:rgb(240, 168, 61);
  cursor: pointer;
 }

 .listOfItems{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 20px;
 }
  .friendContainer{
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-family:'Curier New', Courier, monospace;

}
 .friend {
   width: 400px;
   height: 60px;
   background-color: rgb(240, 168, 61);
   color: white;
   font-family:'Curier New', Courier, monospace;
   display: flex;
   margin: 10px;

 }

 .friend h3 {
   margin-left: 15px;
 }

 .friendContainer button {
   width: 80px;
   height: 60px;
   border: 2px solid black;
   background-color: rgb(240, 168, 61);
   color: white;
   font-family:'Curier New', Courier, monospace;

   
 }
 .removeButton{
   border-left: none;
   
 }

